body {
  margin: 0;
  place-items: center;
  font-family: sans-serif;
  background-image: url(../src/assets/images/cookiesBG.png);
}

#cookieBtn {
  width: 11%;
  display: flex;
  border-radius: 300px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.1s ease-in-out;
}

#upgradeBtn {
  display: flex;
  width: 12%;
  gap: 10 rem;
  margin-right: 100px;
  border-radius: 450px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.1s ease-in-out;
}

h1 {
  font-size: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
  color: rgba(82, 7, 7, 0.765);
}

.cookies {
  font-size: medium;
  justify-content: center;
  margin-left: 60px;
  color: rgba(82, 7, 7, 0.765);
}

.cps {
  font-size: medium;
  justify-content: center;
  margin-left: 60px;
  color: rgba(82, 7, 7, 0.765);
}

.cookies {
  font-size: medium;
  justify-content: center;
  margin-left: 60px;
  color: rgba(82, 7, 7, 0.765);
}

.cpsUpgrade {
  font-size: medium;
  align-items: center;
  color: rgba(82, 7, 7, 0.765);
}

@media only screen and (max-width: 700px) {
  body {
    background-color: lightblue;
  }
}
